@import '../shared/_colour.styl'

#basic
  .wrapper
    border-top 3px solid $purple2
  .header
    img.logo-mark
      display inline-block
      margin 0.33rem 0.03rem

  section.container
    padding-left 0.2rem
    padding-right 0.2rem

  .embeded.box
    background-color #fbfaf8

  // reset-password
  .reset-password
    padding-top 10%
    code
      border none

  // login
  .login
    padding-top 10%
    h6
      text-align left
      vertical-align top
      display inline-block
      margin 0.51rem 0.39rem

@media screen and (max-width: 768px)
  #basic
    .login
      padding-top 0
