// signup
#standard
  .signup
    padding-top 3%
    p.text
      margin-left 0.48rem
    .note
      padding 0.09rem 0.32rem


// reset-password
#basic
  .reset-password
    padding-top 10%
    code
      border none


// login
#basic
  .login
    padding-top 10%
    h6
      text-align left
      vertical-align top
      display inline-block
      margin 0.51rem 0.39rem

// all
#basic
  .header
    img.logo
      display inline-block
      margin 0.33rem 0.03rem
