@import './shared/_colour.styl'

.global-message
  background-color #565656
  margin 0
  padding 0
  text-align center
  line-height 1.32em
  &.user
    border-top 3px solid $purple2
    p
      color $paper2
  p
    color #d3d3d3
    padding 0.48rem 0
    margin 0


.tab.menu .item
  line-height 1.1em
  -webkit-padding-after 0.5rem
  &.disabled
    opacity 0.4
    pointer-events none
    &:hover
      cursor not-allowed

.mobile.only
  display none

.wf-loading h1
.wf-loading h2
.wf-loading h3
.wf-loading h4
.wf-loading h5
.wf-loading h6
.wf-loading p
  visibility hidden

.content
  .breadcrumb
    margin-bottom 0.44rem

@media screen and (max-width: 768px)
  .mobile.hidden
    display none

  .mobile.only
    display block !important
