div#settings
  padding-top 2.1rem

  .ui.menu
  .ui.vertical.menu
    box-shadow none

  .ui.header:first-child
    margin-top 0

  table.ui.basic.table
    tbody
      tr:last-child
        td
          border-bottom 1px solid rgba(34, 36, 38, 0.1)
      td.action
        text-align right

  form.change-email,
  form.delete-email
    display inline
