// signup
#standard
  .signup
    padding 3% 0.69rem 3% 0.69rem
    p.text
      margin-left 0.48rem
    .note
      padding 0.09rem 0.32rem

  form#signup.form
    div[class^="field"]
      margin-bottom 0.49rem

  .description.container
    .header.logo
      border-radius 0.18rem 0.18rem 0 0
      border-color #565656
      background-color #565656
      padding-top 0.16rem
      padding-bottom 0
    .flat.box
      border-radius 0 0 0.18rem 0.18rem

  .logo-item
    &:hover
      text-decoration none

    h1.logo
      margin 0.62rem 0 0.62rem 0.08rem
      padding 0

    .logo-mark
      display inline-block
      margin 0 0.18rem 0.14rem 0

    .logo-type
      display inline-block
      min-height 0.9rem
      vertical-align top
      margin 0.12rem 0 0 0.28rem
      padding 0
