// signup
#standard
  .signup
    padding 3% 0.69rem 3% 0.69rem
    p.text
      margin-left 0.48rem
    .note
      padding 0.09rem 0.32rem

  form#signup.form
    div[class^="field"]
      margin-bottom 0.49rem
