@import './shared/_colour.styl'

// top
.grid.top
  .list
    padding-top 0.06rem
    padding-bottom 1.86rem

  .menu:first-child
    margin-top 2.2rem
    margin-bottom 1.2rem
    .item:first-child
      margin-left 0
      padding-left 0.11rem
      &:hover
        background none

  .form
    input[type="text"]
      height 3.12em

  .row.heading
    background-color #404040

  .row.banner
    padding-top 2.09em
    background-color #404040
    .description
      margin-top 2.33rem
      color #fbfaf8
    .list
      margin-top 1.66rem
      margin-bottom 0

  .row.main
    padding-bottom 3rem
    background-color #fbfaf8

  .row.content
    background-color #fbfaf8
    padding-top 2.86rem
    padding-bottom 4.86rem

.pride
  font-size 90%
  p
    color darken($gray1, 30%)


@media screen and (min-width: 768px)
  .grid.top
  .row.main
    div:first-child
      padding-left 2.6rem
      padding-right 2.6rem
