@import './shared/_colour.styl'

// top
.top.grid
  .list
    padding-top 0.06rem
    padding-bottom 1.86rem

  .menu:not(.right)
    margin-top 2.2rem
    margin-bottom 1.2rem
    > .item:first-child
      margin-left 0
      padding-left 0.11rem
    > .item
      &:hover
        background none

  .right.menu
    margin-right 0.11rem
    .dropdown
      right 0
    .dropdown-container
      padding-right 0
      .disabled.item
        cursor not-allowed
        background #f3f3f3
        color $gray1
        &:hover
          background none
      h6
        font-size 1.02em
      p.description
        font-size 0.88rem
        margin-top 0.19rem
        margin-bottom 0.12rem
      span.note
        font-size 0.77rem
        color red

  .form
    input[type="text"]
      height 2.92em
      padding-top 0.78rem
      padding-left 0.88rem
      padding-bottom 0.88rem

  .row.heading
    background-color #404040

  .row.banner
    padding-top 2.09em
    background-color #404040
    .description
      margin-top 2.33rem
      color #fbfaf8
    .list
      margin-top 1.66rem
      margin-bottom 0

  .row.main
    padding-bottom 3rem
    background-color #fbfaf8

  .row.content
    background-color #fbfaf8
    padding-top 2.86rem
    padding-bottom 4.86rem


@media screen and (min-width: 768px)
  .grid.top
  .row.main
    div:first-child
      padding-left 2.6rem
      padding-right 2.6rem
