__pycache__/
*.egg-info/
*.egg
.cache

.*-version

.env*
!.env*.sample
.coverage
codequality.txt

app.yaml
cors-file.json

# deployment raw scripts (plate)
/bin/_deliver
/bin/_cleanup
/bin/_version

/bin/gitlab-ci-multi-runner

/db/seeds/*.yml
!/db/seeds/*.sample.yml

/config/*.yml
!/config/*.sample.yml

/locale

/lib/*sdk*
/lib/*proxy*

/static/*
!/static/**/*/.gitignore

/tmp/log/*.log
!/tmp/log/.gitignore
/tmp/builds/*
/tmp/_cache
/tmp/_data

/venv*
/node_modules
