__pycache__/
*.egg-info/
*.egg
.cache

.python-version

.env
.env.ci
.coverage

app.yaml

/bin/deliver
/bin/sql-proxy
/bin/gitlab-ci-multi-runner

/db/seeds/*.yml
!/db/seeds/*.sample.yml

/locale

/lib/*sdk*
/lib/*proxy*

/static/*
!/static/**/*/.gitignore

/tmp/log/*.log
!/tmp/log/.gitignore
/tmp/builds/*
/tmp/_cache
/tmp/_data

/venv*
/node_modules
