bcrypt==3.1.4
bleach==2.1.4
beaker==1.9.0
celery==4.1.0
itsdangerous==0.24
kombu==4.1.0
mako==1.0.7
MarkupSafe==1.0
Paste==2.0.3
PasteScript==2.0.2
peewee==3.6.3
peewee-migrate==1.0.0
--no-binary :all: psycopg2==2.7.5
pylibmc==1.5.2
python-dotenv==0.9.1
pyramid==1.9.2
pyramid_assetviews==1.0a3
pyramid-beaker==0.8
pyramid_celery==3.0.0
pyramid-mako==1.0.2
pyramid_mailer==0.15.1
pyramid_services==2.1
pyramid_secure_response==0.1.3
PyYAML==3.13
redis==2.10.6
requests==2.19.1
transaction==2.2.1
WebOb==1.8.2
WTForms==2.2.1

# production
CherryPy==18.0.0
honcho==1.0.1

# development
waitress==1.1.0
pydocstyle==2.1.1
pycodestyle==2.4.0
pylint==2.1.1

# development,testing
colorlog==2.7.0

# testing
mixier==6.0.1
pytest==3.7.4
pytest-cov==2.5.1
pytest-mock==1.10.0
pytest-selenium==1.13.0
selenium==3.14.0
WebTest==2.0.30
