@import '../shared/_colour.styl'

#article
  div[align="right"]
    .button
      margin-top 0.8rem

  .article-list
    padding-left 0
    padding-right 0

  .article.embedded.box
    padding-left 0.68rem
    padding-right 0.68rem
    border 0
    &:hover
      background-color $gray0
    .title
      margin-top 0
      font-size 1.23rem
    .description
      font-size 0.82em
      color $gray2
    .label
      margin-top 0.22em
      margin-left -0.16rem
