@import '../shared/_colour.styl'

#console #article
  div[align="right"]
    .button
      margin-top 0.8rem

  .article-list
    padding-left 0
    padding-right 0

    .border
      border-bottom 1px solid darken($gray0, 3%)

    .embedded.box,
    .embedded.footer
      border none
      box-shadow none !important
      background-color white

  .article.box
    padding 0 0.45rem
    .title
      margin-top 0
    .description
      color $gray2

  .article.box + .footer
    padding 0.16rem 0.58rem 0.08rem 0.48rem
    display table
    width 100%

    .col:first-child
      margin 0
      margin-top 0.22em
      margin-left -0.16rem
      display table-cell
      text-align left
      width 50%

    .col:last-child
      margin 0
      display table-cell
      width 50%
      text-align right

    .state
      display inline-block
      width 6rem
      text-align center
