@import '../shared/_colour.styl'

#console
  header
    background-color #ffffff
  .top.menu
    margin 0
    margin-left 3.33rem
    padding-top 0
    padding-left 0
    padding-right 0
    > a.item,
    > span.item
      display block
    > .item:first-child
      padding-left 0
      &:hover
        background none
    .right.menu
      .item:first-child
        padding-right 1.62rem
        margin 0
      .item:last-child
        padding-right 0.22rem
  .secondary.menu
    padding-left 0.02rem

  .breadcrumb
    display block
    padding-left 0.09rem
    .item.active
      background none
    > a.item,
    > span.item
      padding 0.331rem 0.764rem
    > .item:first-child
      padding-left 0

  section.container
    padding 0.78rem 1.42rem
    // header
    > .row .column-13
      padding-top 0
      padding-bottom 0

// sidebar
#console
  .sidebar
    h6.section-title
      margin-left 1.189rem
      font-weight bold
      font-size 0.71em
      color $gray2

    background-color #ffffff
    z-index 2147483647
    position fixed
    > .item.active
      border-left 4px solid darken($gray1, 3%)
      padding-left 1.06rem
      padding-right 0
      color $black1
      font-weight bold
      > .item:first-child
        padding-top 0
      > .item:last-child
        padding-bottom 0

    > .item.active.expanded
      padding-left 0
      padding-right 0
      .item
        padding-left 1.06rem
        padding-right 0
        color $black1
      .item-container
        font-weight normal
        .item
          padding-left 1.78rem
          &.active
            color $black2
            background-color darken($gray0, 8%)
          &.disabled
            color lighten($gray1, 48%)
            &:hover
              background-color inherit !important
              cursor not-allowed

    .item.disabled
      color lighten($gray1, 48%)
      &:hover
        background-color inherit !important
        cursor not-allowed

    .message
      border none

  // close
  .sidebar
    visibility hidden
    display none
    transition transform .28s ease 0.08s

  #sidebar_checkbox.pinned + .sidebar
    position relative
    visibility visible
    display block

  .sidebar-checkbox
    display none

  .sidebar-checkbox,
  .sidebar-show-button,
  .sidebar-hold-button,
  .sidebar-hide-button
    &:focus
      outline none
    &::-moz-focus-inner
      border 0

  #sidebar_checkbox:checked + .sidebar
    visibility visible
    display block

  #sidebar_checkbox:checked ~ .content .top.menu
    margin-left 0

  .sidebar-show-button
    display inline-block
    float left
    margin-top 0.679rem
    margin-left 0.522rem
    padding 0.16rem 0.36rem
    border 0
    cursor pointer
    transition transform .22s ease 0.08s
    font-family monospace
    font-weight bold
    font-size 1.22em
    color #777777
    &:hover
      color #222222
      background-color #f3f3f3

  .sidebar-hold-button
    color #444444

  .sidebar-hide-button
    color #444444
    &:disabled
      display none

  #sidebar_checkbox:checked ~ .content .sidebar-show-button
    display none


@media only screen and (max-width: 1280px)
  #console .sidebar
    min-width 16.97rem
    max-width 25%
@media only screen and (max-width: 980px)
  #console .sidebar
    min-width 14.97rem
    max-width 30%
@media only screen and (max-width: 768px)
  #console .sidebar
    min-width 12.97rem
    max-width 40%
@media only screen and (max-width: 640px)
  #console .sidebar
    min-width 10.97rem
    max-width 30%
  #console .sidebar .note.item
    display none
@media print
  #console .sidebar
    display none


.dropdown-container
  .dropdown
    .header
      font-size 1.03rem
    .description
      color darken($gray1, 9%)
