@import '../shared/_colour.styl'
@import '../shared/_sidebar.styl'
@import '../shared/_toolbar.styl'

#console
  // -- fixed-header option
  section.container.with-fixed-header
    height 100%
    overflow hidden

    main
      height calc(100% - (2.72rem * 2))
      overflow-y scroll

  header,
  .inner-header
    height 2.72rem

  .top.menu
    min-height 2.72rem
    margin 0
    padding-top 0
    padding-left 0
    padding-right 0

    > a.item,
    > span.item
      display block

    // breadcrumbs
    > .item:first-child
      padding 0.52rem 0 0 1.31rem
      margin 0
      &:hover
        background none

    .right.menu
      .item:first-child
        padding-right 1.62rem
        margin 0

  .secondary.menu
    padding-left 0.02rem

  .breadcrumb
    display block
    padding-left 0.39rem
    .item.active
      background none
    > a.item,
    > span.item
      padding 0.331rem 0.764rem
    > .item:first-child
      padding-left 0

  section.container
    // header
    > .row .column-13
      padding-top 0
      padding-bottom 0

// sidebar
#console
  build-sidebar()

// toolbar
#console
  build-toolbar()

  .toolbar
    form.form
      padding-left 1.03rem
      padding-right 1.03rem

.dropdown-container
  .dropdown
    .header
      font-size 1.03rem
    .description
      color darken($gray1, 9%)
