@import '../shared/_colour.styl'

#console
  header
    background-color #ffffff
  .top.menu
    margin 0
    padding-left 0
    > a.item,
    > span.item
      display block
    > .item:first-child
      &:hover
        background none
  .secondary.menu
    padding-left 0.02rem

  .breadcrumb
    display block
    padding-left 0.09rem
    .item.active
      background none
    > a.item,
    > span.item
      padding 0.331rem 0.764rem

  main
    padding 0.78rem 0.92rem

  .sidebar
    .item
      &.disabled
        color lighten($gray1, 48%)
        &:hover
          background-color inherit !important
          cursor not-allowed
    .message
      border none

.sidebar-container
  > .sidebar
    @media only screen and (max-width: 1280px)
      min-width 13.97rem
      max-width 17.97rem
    @media only screen and (max-width: 980px)
      min-width 10.97rem
      max-width 14.97rem
    @media only screen and (max-width: 768px)
      min-width 7.97rem
      max-width 11.97rem
    @media only screen and (max-width: 640px)
      min-width 4.97rem
      max-width 8.97rem
    @media only screen and (max-width: 480px)
      display none


// box
#console
  .blue.box
    border-top 4px solid #8383c3
    border-radius 0.186rem 0.186rem 0.133rem 0.133rem

  .gray.box
    border-top 4px solid #888888
    border-radius 0.186rem 0.186rem 0.133rem 0.133rem
