#console
  #project
    .site.box
      min-height 12.16rem
      position relative

      h5.header
        margin-bottom 1.22rem

      .text
        position absolute
        margin-top 1.27rem
        vertical-align bottom
        margin-right 1.22rem
