#console
  #project
    .site.box
      min-height 12.16rem
      position relative

      h5.header
        margin-bottom 1.22rem

      .text
        position absolute
        bottom 0
        vertical-align bottom
        margin-bottom 1.04rem
