#console
  #settings
    .attached.message
      padding-left 1.89rem

    table.emails.table
      width 86%
      margin 0 0.81rem
      tbody
        tr:last-child
          td
            border-bottom 1px solid rgba(34, 36, 38, 0.1)
        td
          .small.text
            display inline-block
            margin 0.66rem 0
          .action
            margin-top 0.33rem
            vertical-align middle
            display inline-block
            text-align right
            &.right
              float right


  // email
  #settings
    form.change-email,
    form.delete-email
      display inline-block

    form.delete-email
      margin 0

    form.change-email
      margin 0 0.6rem 0 0

    form#add_new_email
      display block
      margin-top 2.1rem
