#console
  #top
    .project.box
      min-height 11.33rem
      position relative

      h4.header
        margin-top 0.12rem

      .members
        position absolute
        width 100%
        bottom 0
        vertical-align bottom
        margin-bottom 0.84rem
