#console
  #top
    .attached.box
      min-height 11.33rem
      position relative

      .members
        position absolute
        width 100%
        bottom 0
        vertical-align bottom
        margin-bottom 0.84rem
