// _colour
$gray0 = #f9f9fb
$gray1 = #97a1a6
$gray2 = #55545a

$purple0 = #d5d2e3
$purple1 = #aaa8b5
$purple2 = #7b6e94

$black0 = #2b2d26
$black1 = #1e1f1a
$black2 = #11110e

$dark-gray0 = #5b5b5b
$dark-gray1 = #535353
$dark-gray2 = #484848

$white0 = #ffffff
$white1 = #fdfdfd
$white1 = #fcfcfc

$paper0 = #ffffff
$paper1 = #fcfcfc
$paper2 = #fbfaf8
$paper3 = #f2efe9
