@import './_colour.styl'

build-sidebar()
  .sidebar
    position fixed

    background-color #ffffff
    z-index 2147483647

    min-width 14.78rem
    max-width 16.97rem

    .section-title
      margin-left 1.189rem
      margin-bottom 0.45rem
      font-weight bold
      font-size 0.71em
      color lighten($gray2, 13%)

    > .item.active
      border-left 4px solid $dark-gray2
      padding-left 1.06rem
      padding-right 0
      color $black1
      font-weight bold
      > .item:first-child
        padding-top 0
      > .item:last-child
        padding-bottom 0

    > a.item.active,
    > .item.active.expanded .item-container a.item.active
    .item-container a.item.active
      color $black2
      background-color lighten($gray2, 87%)

    > a.item:hover,
    > .item.active.expanded .item-container a.item:hover
      color $black2
      background-color lighten($gray2, 82%)

    a.item.disabled,
    a.item.disabled:hover
      color lighten($gray1, 48%) !important

    > .item.active.expanded
      padding-left 0
      padding-right 0
      background-color lighten($gray2, 94%)
      .item
        padding-left 1.06rem
        padding-right 0
        color lighten($black1, 13%)
      .item-container
        font-weight normal
        .item
          padding-left 1.78rem
          &.disabled:hover
            background-color inherit !important
            cursor not-allowed

    .divider
      margin 3rem 0 1.8rem 0
      border-color darken($gray0, 3%)

    .item > span.description
      display block
      font-size 0.79em
      margin-top 0.18rem
      margin-left 0.11rem
      color $gray1

    .item.disabled
      color lighten($gray1, 48%)
      &:hover
        background-color inherit !important
        cursor not-allowed

    .message
      border none

  // close
  .sidebar
    visibility hidden
    display none
    transition transform .28s ease 0.08s

  #sidebar_checkbox.pinned + .sidebar
    position relative
    visibility visible
    display block

  .sidebar-checkbox
    display none

  .sidebar-checkbox,
  .sidebar-show-button,
  .sidebar-hold-button,
  .sidebar-hide-button
    &:focus
      outline none
    &::-moz-focus-inner
      border 0

  #sidebar_checkbox:checked + .sidebar
    visibility visible
    display block

  #sidebar_checkbox:checked ~ .content .top.menu
    margin-left 0

  .sidebar-show-button
    display inline-block
    float left
    margin-top 0.679rem
    margin-left 0.522rem
    padding 0.16rem 0.36rem
    border 0
    cursor pointer
    transition transform .22s ease 0.08s
    font-family monospace
    font-weight bold
    font-size 1.22em
    color #777777
    &:hover
      color #222222
      background-color #f3f3f3

  .sidebar-hold-button
    color #444444

  .sidebar-hide-button
    color #444444
    &:disabled
      display none

  #sidebar_checkbox:checked ~ .content .sidebar-show-button
    display none


@media only screen and (max-width: 1280px)
  .sidebar
    min-width 16.97rem
    max-width 25%
@media only screen and (max-width: 980px)
  .sidebar
    min-width 14.97rem
    max-width 30%
@media only screen and (max-width: 768px)
  .sidebar
    min-width 12.97rem
    max-width 40%
@media only screen and (max-width: 640px)
  .sidebar
    min-width 10.97rem
    max-width 30%
  .sidebar .note.item
    display none
@media print
  .sidebar
    display none
