@import './_colour.styl'

build-toolbar()
  .toolbar
    position static

    box-shadow 0 0 .04rem darken(#e5decf, 13%)

    background-color #fbfaf8
    z-index 2147483647

    min-width 19.78rem
    max-width 22.97rem

    .section-title
      margin-left 1.189rem
      margin-bottom 0.45rem
      font-weight bold
      font-size 1.02em
      color $gray2

    hr
      border-bottom 1px solid #e5decf

    > .item.active
      border-left 4px solid darken($gray1, 3%)
      padding-left 1.06rem
      padding-right 0
      color $black1
      font-weight bold
      > .item:first-child
        padding-top 0
      > .item:last-child
        padding-bottom 0

    > .item.active.expanded
      padding-left 0
      padding-right 0
      .item
        padding-left 1.06rem
        padding-right 0
        color $black1
      .item-container
        font-weight normal
        .item
          padding-left 1.78rem
          &.active
            color $black2
            background-color darken($gray0, 8%)
          &.disabled
            color lighten($gray1, 48%)
            &:hover
              background-color inherit !important
              cursor not-allowed

  // close
  .toolbar
    visibility hidden
    display none
    transition transform .28s ease 0.08s
    > .item .button
      margin-right 0.76rem
      border none
      border-radius 0.18rem
      background transparent
      font-size 1.28em
      color #222222
      &:hover
        color #000000
        background #f3f3f3

  .toolbar-checkbox
    display none

  .toolbar-checkbox,
  .toolbar-show-button,
  .toolbar-hide-button
    &:focus
      outline none
    &::-moz-focus-inner
      border 0

  #toolbar_checkbox:checked ~ .content + .toolbar
    visibility visible
    display block

  #toolbar_checkbox:checked ~ .content .top.menu
    margin-left 0

  .toolbar-show-button
    display block
    margin 0
    margin 0.22rem 0.76rem
    padding 0.22rem 0.78rem 0.31rem 0.78rem !important
    border 0
    cursor pointer
    font-family monospace
    font-weight bold
    font-size 2.22em
    color #777777
    &:hover
      color #222222
      background-color #f3f3f3

  .toolbar-hide-button
    color #444444
    &:disabled
      display none

  #toolbar_checkbox:checked ~ .content .toolbar-show-button
    display none


@media only screen and (max-width: 1280px)
  .toolbar
    min-width 16.97rem
    max-width 25%
@media only screen and (max-width: 980px)
  .toolbar
    min-width 14.97rem
    max-width 30%
@media only screen and (max-width: 768px)
  .toolbar
    min-width 12.97rem
    max-width 40%
@media only screen and (max-width: 640px)
  .toolbar
    min-width 10.97rem
    max-width 30%
  .toolbar .note.item
    display none
@media print
  .toolbar
    display none
