// general
*
  box-sizing border-box

body
  background-color #ffffff

input:-moz-placeholder,
input::-moz-placeholder,
textarea:-moz-placeholder,
textarea::-moz-placeholder
  color darken(#c3bfb5, 9%)

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder
  color darken(#c3bfb5, 9%)

input:-ms-input-placeholder,
input::-ms-input-placeholder,
textarea:-ms-input-placeholder,
textarea::-ms-input-placeholder
  color darken(#c3bfb5, 9%)

a[target="_blank"]
  &:hover
    text-decoration underline wavy lightgray !important

pre
  overflow-y none
  overflow-x auto
  width 100%

.global-message
  background-color #565656
  margin 0
  padding 0
  text-align center
  line-height 1.32em
  &.user
    border-top 3px solid $purple2
    p
      color $paper2
  p
    color #d3d3d3
    padding 0.48rem 0
    margin 0

.pride
  font-size 90%
  > p
    color $paper2

.tab.menu .item
  line-height 1.1em
  -webkit-padding-after 0.5rem
  &.disabled
    opacity 0.4
    pointer-events none
    &:hover
      cursor not-allowed

.mobile.only
  display none

.wf-loading h1
.wf-loading h2
.wf-loading h3
.wf-loading h4
.wf-loading h5
.wf-loading h6
.wf-loading p
  visibility hidden

.content
  .breadcrumb
    margin-bottom 0.44rem

@media screen and (max-width: 768px)
  .mobile.hidden
    display none

  .mobile.only
    display block !important

#standard,
#registry,
#console
  .blue.box
    border-top 4px solid #8383c3
    border-radius 0.186rem 0.186rem 0.133rem 0.133rem

  .gray.box
    border-top 4px solid #888888
    border-radius 0.186rem 0.186rem 0.133rem 0.133rem


.sidebar
  .publication.item
    display block
    position relative
    .cover
      text-align center
      font-size 0.77em
      padding-top 1.58rem
      position absolute
      display inline-block
      height 4.86rem
      width 3.92rem
      color darken(#fbfaf8, 28%)
      background-color darken(#fbfaf8, 4%)
    h6.name
      margin-left 5.2rem
    p
      position relative
      margin-left 5.2rem
      min-height 3rem
