// global
*
  box-sizing border-box !important

body
  background-color #ffffff

input:-moz-placeholder,
input::-moz-placeholder,
textarea:-moz-placeholder,
textarea::-moz-placeholder
  color darken(#c3bfb5, 9%)

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder
  color darken(#c3bfb5, 9%)

input:-ms-input-placeholder,
input::-ms-input-placeholder,
textarea:-ms-input-placeholder,
textarea::-ms-input-placeholder
  color darken(#c3bfb5, 9%)

a[target="_blank"]
  &:hover
    text-decoration underline wavy lightgray !important

pre
  overflow-y none
  overflow-x auto
  width 100%
