@import './_colour.styl'

.wrapper
  position relative
  min-height 100%

#basic .wrapper,
#standard .wrapper
  background-color #fbfaf8
  > section.container
    width 100%

#standard
  .wrapper > section.container
    padding-bottom 14.22rem

// header
header.user
  background-color #242424

header
  background-color #404040
  .top.menu
    padding-top 0
    padding-bottom 0
    margin 0
    > a h1.logo
      margin 0.62rem 0 0.62rem 0.38em
      padding 0
  .logo-mark
    display inline-block
    margin 0 0.18rem 0.14rem 0
  .logo-type
    display inline-block
    min-height 0.9rem
    vertical-align top
    margin -0.12rem 0 0 0.78rem
    padding 0
  .menu
    > a:first-child
      margin-right 1.3rem
      &:hover
        text-decoration none
    .item
      padding-top 0.34rem
      color #d0d0d0
      &:hover
        color #f1f1f1
        background none
      &.active
        background none
        color #ffffff

// footer
footer
  position absolute
  bottom 0
  width 100%
  background-color #222222
  ul.list
    display inline-block
    margin 0.68rem 0
    padding 0
    & > li.item
      font-size 0.83em
      display inline-block
      list-style none
      margin 0 0.48em
      padding 0
      &:last-child
        margin-right 0
    &.right
      float right
  p.copyright
    margin-right 2.33rem
    float right
    color $gray1
    font-size 0.83em


// same as normal (styr)
@media screen and (max-width: 768px)
  header
    .top.menu
      > a h1.logo
        margin 0.42rem 0 0.42rem 0.22rem
      > .item
        display none
    .menu .right.menu:last-child
      margin-right 0
      .item
        margin-right 0.11rem
        margin-left 0.11rem
  footer
    ul.list
      margin 0.82rem 0.88rem 0.02rem 0
    .copyright
      margin 0 0.88rem 0.66rem 0 !important
      text-align right
