@import './_colour.styl'

// additional decoration (overwrite) -- styr
.top.menu
  padding 0.28rem 0.94rem

.attached.header:first-child
  margin-top 0.02rem

.attached.box
  padding 1.26rem 1.19rem
  .form,
  .table
    width auto
    margin 1.36rem 1.29rem

.grid
  // TODO: fix styr's grid
  display flex
  flex-direction column
  .row
    display flex
    flex-direction row
    justify-content left
    flex-wrap wrap
    .column-16
      flex 1
      flex-basis auto
      width 100%

// TODO: fix styr's dropdown
.dropdown-container
  .action
    padding-top 0.2792rem
    padding-bottom 0.2792rem
  label
    padding-top 0.91rem
  .dropdown
    z-index 2222222

    > .item:first-child
      margin-left 0


// TODO: fix styr's modal
.modal-container
  overflow-y auto
@media screen and (max-width: 768px)
  .modal-container .modal
    margin-top 2rem
    margin-left auto
    margin-right auto
    width 95%
    min-width 95%

.box
  .description,
  .text
    margin-left 0.16rem

.small.text
  font-size 0.83em

.content .form
  .header
    margin-bottom 1.33rem

.embeded.box
  border none
  box-shadow none !important

.flat.button
  &.petit
    line-height 1.12em
    padding 0.31rem 0.416rem

.vertical.menu
  width 80%

div.message
  margin-top 1.02rem
  margin-bottom 0.24rem

div.list,
ul.list
  margin 0.96rem 0
  .item
    margin 0.48rem 0.41rem
    .content
      .header
        color $gray2
        font-weight bold
      .description
        color darken($gray1, 33%)
        font-size 0.95em
        margin 0.43rem 0 0.98rem 0


@media screen and (max-width: 768px)
  .vertical.menu
    width 100%
