// font & text color
body
  font-family 'museo-slab', serif
  font-weight 300
  font-size 1.02em

h1,
h2,
h3,
h4,
h5,
h6
  font-family 'Open Sans', sans, sans-serif
  font-weight normal

.logo-type
  text-decoration none
  font-family 'Roboto Slab', serif
  font-weight 100
  font-size 0.68em
  color #f3f3f3


pre,
code
  font-weight 100
  font-family 'Open Sans', monospace, sans-serif
  font-size 96%


input[type="text"]
  font-family caption

input[type^="password"],
input[type="password"]
  font-family caption
  -webkit-text-security disc

a.button,
button.button
  font-family 'pt-sans'

header
  font-family 'Open Sans', sans, sans-serif

// readability
i[class^="_"]
  font-family monospace
  font-style normal

i._r
  color lightgreen
i._e
  color lightcoral
i._a
  color mediumaquamMarine
i._d
  color lightblue
i._b
  color yellow
i._i
  color lightsalmon
i._l
  color lightpink
i._t
  color lightgray
i._y
  color pink
