@import '../../css/shared/_colour.styl'

#article_settings_form
  .checkbox
    float right
    padding 0.2rem 0.23rem

  input[type=checkbox]#scope
    visibility hidden
    height 0
    width 0

    &:checked + label
      background-color lighten($purple2, 3%)

    &:checked + label:after
      left calc(100% - 0.31rem)
      transform translateX(-100%)


  label.scope
    display block
    cursor pointer
    text-indent -9999px
    width 3.64rem
    height 1.72rem
    background-color lighten($dark-gray0, 62%)
    border-radius 0.16rem
    position relative
    float right

    &:before
      display none

    &:after
      content ''
      top 0.19rem
      left 0.27rem
      width 1.38rem
      height 1.32rem
      background-color white
      border-radius 0.16rem
      transition 0.33s
      position absolute

    &:active:after
      width 1.82rem

  span.value
    display inline-block
    margin-top 0.31rem
    margin-right 0.89rem

  span.description
    display inline-block
    float left
