ul.pagination
  padding 1.2rem 0
  margin 0
  li
    margin 0
    padding 0 0.39rem 0 0
    display inline-block
    list-style none
    a
      cursor pointer
      text-decoration none
      color #454545
      background-color #f3f3f3
      border 1px solid #ededed
      border-radius 0.145rem
      display inline-block
      padding 0.26rem 0.66rem
      &:hover
        background-color #444444
        color #f2f2f2
      &.active
        background-color #888888
        font-weight bold
        &:hover
          cursor default
          color #454545
          background-color #888888
