@import '../shared/_colour.styl'

// registry
.registry.grid
  .menu:first-child
    margin-top 0.062rem
    margin-bottom 0.392rem
    .item
      margin-left 0
      padding-left 0.11rem
      &:hover
        background none

  .form
    display block
    min-height 1.2rem
    .search.field
      padding-right 0.22rem
      margin-bottom 0.71rem
    input[type="text"]
      height 2.92em
      padding-top 0.78rem
      padding-left 0.88rem
      padding-bottom 0.88rem


  .row.main
    background-color #fbfaf8
    padding-top 0.28rem
    padding-bottom 0
    > div:first-child
      padding-top 0
      padding-bottom 0

  .row.content
    padding-top 0.98rem
    padding-bottom 2.66rem
    > div:first-child
      padding-top 0
      padding-bottom 0

    .search-result-count
      font-size 0.82em
      color darken($gray1, 9%)

    .embedded.box
      padding-left 0.68rem
      padding-right 0.68rem
      border 0
      &:hover
        background-color #fbfaf8
      .title
        margin-top 0
        font-size 1.23rem
      .description
        font-size 0.82em
        color $gray2
      .url
        color darken($gray1, 9%)
