#standard
  #publication .content,
  #application .content
    div.attached.box:first-child,
    div.group.box:first-child
      margin-top 1.02rem
    div.attached.footer
      margin-bottom 1.51rem

  #publication,
  #application
    .breadcrumb
      padding 0.11rem 0.6rem
    .right-side-bar
      margin-top 0
      padding-top 0

  .integrated.label,
  .hosted.label
    margin-top 0.73rem
    margin-bottom 0.39rem
